body {overflow-x: hidden;}
li {padding-bottom: 10px ; font-size: 18px;}
div #content {margin-top:20px;}
div #footer {margin-top:20px;font-size: 20px;}
div #menu {margin-top:20px;}
ul {list-style:none;}
.footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}