.expert-list th {
    font-weight:normal;
    margin: 2px 1em 0 auto;
}

.table-speciality {
    position:absolute;
    margin-left:10px;
    margin-top:10px;
    width: 90%;
    height: 400px;
    overflow:scroll;
}